<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Продукт</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</head>
<body>

<div th:replace="~{common/navbar :: navi(ProductForm)}"></div>

<div class="container" align="center">
    <h2>Подробная информация</h2>
    <hr>
    <h2 th:text="${'Название: ' + product.title}"></h2>
    <h2 th:text="${'Цена: ' + product.cost}"></h2>

    <div id="carouselMultiItemExample"
         class="carousel slide carousel-dark"
         data-bs-ride="carousel">
        <div class="d-flex justify-content-center mb-4">
            <button class="carousel-control-prev position-relative"
                    type="button"
                    data-bs-target="#carouselMultiItemExample"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next position-relative"
                    type="button"
                    data-bs-target="#carouselMultiItemExample"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="carousel-inner py-4">
            <div th:each="imageName, i : ${productImages}" class="carousel-item"
                 th:classappend="${i.index==0 ? 'active' : ''}">
                <img th:src="@{'/product/image/' + ${imageName}}" alt="" class="d-block" width="400" height="400"/>
            </div>
        </div>
    </div>
    <td sec:authorize="isAuthenticated()" class="nav-item">
        <a type="button"
           th:href="@{/review}" class="btn btn-warning">Отзыв</a>
    </td>

</div>
<div th:replace="~{common/footer :: footerBlock}"/>

</body>
</html>